{% spaceless %}
	{% if items %}
		<ul role="menu" class="nav__list">
			{% for item in items %}
				<li class="nav__item{% if item.active == true %} active{% endif %}" role="menuitem">
					{% if item.items %}
						{% set id = item.name|raw|lower|replace({' ': '', '-': ''}) %}
						<button class="nav__toggle" aria-expanded="false" aria-controls="subnav-{{ id }}" id="nav-{{ id }}">
							{{ item.name|raw }}
							{# {% include "@includes/2_pieces/icon.twig" with {icon: 'icon-triangle-down'} %} #}
						</button>
						<div class="primary-nav__submenu js-primary-subnav" aria-hidden="true">
							<div class="primary-nav__sub-container">
								<div class="primary-nav__sub-heading">
									<span>
										{{ item.name|raw }}</span>
								</div>
								<div class="primary-nav__sub-list">
									<ul aria-hidden="true" id="subnav-{{ id }}" aria-labelledby="nav-{{ id }}" class="nav__sublist">
										{% for item in item.items %}
											<li class="nav__subitem{% if item.active == true %} active{% endif %}">
												<a href="{{ item.link }}" {% if item.external or item.is_external %} target="_blank" rel="noopener" {% endif %} {% if item.className %} class="{{ item.className }}" {% endif %}>{{ item.name|raw }}</a>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>

					{% else %}
						{% if item.link %}
							<a href="{{ item.link }}" {% if item.external or item.is_external %} target="_blank" rel="noopener" {% endif %} {% if item.className %} class="{{ item.className }}" {% endif %}>{{ item.name|raw }}</a>
						{% else %}
							{{ item.name|raw }}
						{% endif %}
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endspaceless %}
