{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}

<nav class="primary-nav js-primary-nav" aria-label="Primary">
	<ul class="primary-nav__items">
		{% for item in items %}
			<li class="primary-nav__item primary-nav__item--submenu ">
				<div class="primary-nav__menu js-primary-nav-menu">
					{% if item.below == false %}
						<a class="primary-nav__top-link js-primary-nav-top-link" href="/ideas">
							{{item.title}}</a>

					{% else %}
						<button type="button" class="primary-nav__top-link primary-nav__top-link--button js-primary-nav-menu-button" id="menu8" aria-haspopup="true" aria-controls="menu7" aria-expanded="false">
							<span>
								{{item.title}}
							</span>
						</button>
						{% if item.is_expanded %}

							<div class="primary-nav__submenu js-primary-nav-menu-content" id="menu9" aria-labelledby="menu10" aria-hidden="true">
								<div class="primary-nav__sub-container">
									<div class="primary-nav__sub-heading ">
										<a href="/work" class="primary-nav__sub-heading-link js-primary-nav-sub-link">
											{{ item.name }}
										</a>
									</div>
									<ul class="primary-nav__submenu-list " aria-labelledby="{BAF50091-1EA4-4D49-B6E3-739A1B46217E}">
										{% for link in item.items %}{% endfor %}
										{% for subItem in item.below %}
											<li class="primary-nav__subitem">
												<a class="primary-nav__sub-link js-primary-nav-sub-link" href="/work">{{subItem.title}}</a>
											</li>

										{% endfor %}
									</ul>
								</div>
							</div>
						{% endif %}
					{% endif %}
					{# <button type="button" class="primary-nav__top-link primary-nav__top-link--button js-primary-nav-menu-button" id="menu8" aria-haspopup="true" aria-controls="menu7" aria-expanded="false">
																					<span>
															
																						{{item.title}}
																					</span>
																				</button> #}
				</div>

			</li>
		{% endfor %}
	</ul>
</nav>

{# {{ menus.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes }}>
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
      <li{{ item.attributes }}>
        {{ link(item.title, item.url) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %} #}
